<div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button routerLink="/expression-language/prop" routerLinkActive="active" class="btn btn-success" type="button">
            Változók szerkesztése
        </button>
        <button routerLink="/expression-language/calculate" routerLinkActive="active" class="btn btn-success" type="button">
            Számítás elvégzése
        </button>
    </div>
    <hr>
    <router-outlet></router-outlet>
</div>
