<div class="md-10">

    <form>
        <div class="form-group">
            <label for="calculate">Calculator (Use # for variables)</label>
            <textarea class="form-control" rows="5" id="calculate" name="text" [(ngModel)]="text"></textarea>
        </div>
        <button type="submit" class="btn btn-success" (click)="onSubmit(text)">Evaluate</button>
    </form>

    <div *ngIf="isShowResult" class="mt-3">
        <p>
            <span class="font-weight-bold">Result: </span>{{expLangComp.result.resultValue}}
        </p>
    </div>

</div>
