<div class="col-md-10">
    <h3>Properties</h3>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th class="text-center align-middle">#</th>
                <th class="text-center align-middle">Name</th>
                <th class="text-center align-middle">Value</th>
                <th class="text-center align-middle">Type</th>
                <th class="text-left align-middle">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of expLangComp.fieldArray;">
                <td class="text-center align-middle">{{field.id}}</td>
                <td>
                    <input [(ngModel)]="field.key" class="form-control" type="text" name="{{field.key}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.value" class="form-control" type="text" name="{{field.value}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.type" class="form-control" type="text" name="{{field.type}}">
                </td>
                <td>

                    <button class="btn btn-warning" type="button" (click)="updateFieldValue(field.id)">Update</button>
                    <button class="btn btn-danger" type="button" (click)="deleteFieldValue(field.id)">Delete</button>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="form-control" type="text" id="newAttributeKey" [(ngModel)]="newAttribute.key" name="newAttributeKey" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeValue" [(ngModel)]="newAttribute.value"
                        name="newAttributeValue" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeValue" [(ngModel)]="newAttribute.type" name="newAttributeValue" />
                </td>
                <td>
                    <button class="btn btn-success" type="button" (click)="addFieldValue()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Date Format: dd-MM-yyyy<br>Update and Delete not working</p>
</div>
