
<div class="row">
    <jhi-alert></jhi-alert>
    <div class="col-md-12">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <form class="form" role="form" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username" jhiTranslate="global.form.username">Login</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                               [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label for="password" jhiTranslate="login.form.password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                               [(ngModel)]="password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="rememberMe">
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                            <span jhiTranslate="login.form.rememberme">Remember me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    
</div>